html {
  font-size: 16px;
}
body {
  background-color: rgb(36, 36, 87);
}
header {
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
section {
  padding: 30px;
}
.center {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 30px;
  margin: 0px;
  padding: 0px;
}
.container{
  display: flex;
  flex-wrap: wrap;
}
.center {

}
header.magaz {
}
.info h3{
  position: absolute;
  top: 40%;
  
  font-size: 4rem;
  margin: 0px;
}
section .info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.left-info,
.right-info {
  flex-shrink: 0;
  margin-bottom: 20px;
  width: 20%;
  font-size: 1rem;
}

.center-info {
  flex-shrink: 0;
  position: relative;
  width: 50%;
  text-align: center;
  margin-bottom: 300px;
  align-self: flex-start;
}
.aquarim-info {
  text-align: center;
  color: blue;
  font-size: 8rem;
  width: auto;
  font-weight: bold;
  margin: 0;
  position: relative;
  z-index: 1;
  word-wrap: break-word;
}

.shrimp-info {
  position: absolute;
  width: 110px;
  height: auto;
  z-index: 1;
  top: 125%;
  left: 48%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.history{
  display: block;
}
.history__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 30px;
}
.text__content{
  flex: 1;
}

.cook{
  width: 640px;
  height: 370px;
  border-radius: 30px;
  margin: 50px;
}
.menu {
  position: relative;
  background-color: rgb(83, 83, 145);
  padding: 50px 30px;
  margin: 40px 0;
}

.menu__header{

}


.dishes{  
  font-size: 100rem;
}
.crab{
  margin: 0px 0px 0px 150px;
  width: 350px;
  height: 350px;
  border-radius: 20px;
}

.delivery-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}
.delivery .right{
  width: 200px;
  text-align: right;
}
.delivery .left1{
  width: 200px;
  text-align: left;
}

.moto{
  position: relative;
  width: 50%;
  height: auto;
  object-fit: cover;
}



.stock {
  background-color: rgb(83, 83, 145);
  padding: 50px 30px;
  margin: 40px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.fish1 {
  width: 350px;
  height: 350px;
  border-radius: 20px;

}
.button2 {
  margin: 15px;
  padding: 8px 25px 8px 25px;
  background-color: orange;
  border-radius: 15px;
}
.button3 {
  margin: 15px;
  padding: 10px 35px 10px 35px;
  background-color: orange;
  border-radius: 15px;
}
.button4 {
  margin: 15px;
  padding: 40px 300px 40px 300px;
  background-color: orange;
  border-radius: 15px;
}
.logo {
  width: 150px;
  height: 70px;
}
.regist{
  text-align: center;
  z-index: 1;
}

.fish2{
  width: auto;
  height: auto;
}
.reviews-png {
  margin: 50px;
  display: flex;
  gap: 30px;
}

.regist__form{
  justify-content: space-between;
  
}

.regist-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.regist-row input {
  flex: 1;
  padding: 24px;
  border-radius: 6px;
}
.regist-row .full {
  
  height: 80px;
  border-radius: 6px;
}

.cups {
  margin: 50px;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(78, 122, 188);
  margin-top: auto;
}
.section-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer .left, 
footer .center, 
footer .right {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}
.section-info {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
footer .info {
  display: flex;
  text-align: left;
}

.left-foot {
  text-align: left;
}
.right-foot {
  text-align: right;
}
.logo-foot {
  font-size: 9.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
  display: block;
  color: rgb(36, 36, 87);
}
