html {
  font-size: 16px;
}
body {
  background-color: rgb(36, 36, 87);
}
header {
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
section {
  padding: 30px;
}
.center {
  display: flex;
  justify-content: space-around;
  gap: 70px;
}
header.left {
}
.center {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0px;
  padding: 0px;
}
header.magaz {
}
section .info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.left-info,
.right-info {
  flex-shrink: 0;
  margin-bottom: 20px;
  width: 20%;
  font-size: 1rem;
}

.center-info {
  flex-shrink: 0;
  position: relative;
  width: 50%;
  text-align: center;
  margin-bottom: 300px;
  align-self: flex-start;
}
.aquarim-info {
  text-align: center;
  color: blue;
  font-size: 8rem;
  width: auto;
  font-weight: bold;
  margin: 0;
  position: relative;
  z-index: 1;
  word-wrap: break-word;
}

.shrimp-info {
  position: absolute;
  width: 110px;
  height: auto;
  z-index: 1;
  top: 125%;
  left: 48%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.menu {
  background-color: rgb(83, 83, 145);
  padding: 50px 30px;
  margin: 40px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: flex-start;

}
.crab{
  width: 350px;
  height: 350px;
  flex-shrink: 0;
}
.stock {
  background-color: rgb(83, 83, 145);
}
.button2 {
  margin: 15px;
  padding: 8px 25px 8px 25px;
  background-color: orange;
  border-radius: 15px;
}
.button3 {
  margin: 15px;
  padding: 10px 35px 10px 35px;
  background-color: orange;
  border-radius: 15px;
}
.button4 {
  margin: 15px;
  padding: 15px 35px 15px 35px;
  background-color: orange;
  border-radius: 15px;
}
.logo {
  width: 150px;
  height: 70px;
}
.regist-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}
.regist-row input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
}
.regist-row .full {
  flex: 100%;
  height: 50px;
  border-radius: 6px;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(78, 122, 188);
  margin-top: auto;
}
.section-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer .left, 
footer .center, 
footer .right {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}
.section-info {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
footer .info {
  display: flex;
  text-align: left;
}

.left-foot {
  text-align: left;
}
.right-foot {
  text-align: right;
}
.logo-foot {
  font-size: 9.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
  display: block;
  color: rgb(36, 36, 87);
}
